#all-officials {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 6px solid var(--gh-green);
  filter: drop-shadow(0 0 0.5rem var(--custom-teal));
}

.officials {
  text-align: center;
  width: 33vw;
  font-variant: all-small-caps;
  font-size: min(4vw, 4rem);
  font-family: monospace;
  color: var(--gh-green);
}

#username-title{
  color: var(--productive-purple);
}
#class-title, #assignment-title {
  color: var(--productive-purple);
}
