@import "bootstrap/dist/css/bootstrap.min.css";
@font-face {
  font-family: "vonique";
  src: url('assets/Vonique 64.ttf') format('truetype');
}

body{
  background-color: var(--background);
}
:root{
  --background: #2b3137;
  --midnight: #24292e;

  --indigogo: #6F779D;
  --greyrocking: #acbad5;

  --periwinkle: #ffffff;

  --dark-magenta: #a30052;
  --dark-dots: #FF507A;
  --flamingo-dark: #ff507a;
  --contrast-a1: #fc9a8f;
  --contrast-a2: #ff6a37;
  --contrast-a3: #f47d00;
  --contrast-a4: #ff6846;
  --contrast-a5: #ff6f1f;
  --contrast-a6:#858f00;
  --contrast-a7: #6d9700;
  --light-green: #00ff46;
  --muted-green: #2da44f;
  --gh-green: #2da44e;
  --dark-middle-green: #2da44f;
  --dark-middle-green2: #268c3a;
  --dark-middle-green3: #227a33;
  --dark-middle-green4: #1f6b2d;
  --another-mid-green: #00A56A;

  --see-foam-eat-foam: #00a086;
  --another-damn-teal: #009c9b;
  --another-teal: #0099ab;
  --custom-teal: #0099ab;
  --custom-teal-2: #0097b9;

  --skai-bloo: #0097b9;
  --custom-darker-teal: #0095c8;
  --custom-blue-2: #0090e0;
  --custom-blue: #0b82ff;
  --uv-blue: #000aff;

  --violet: #c258ff;
  --barney: #aa60ff;
  --dark-peri: #9268ff;
  --aptly-named-periwinkle: #7a70ff;
  --productive-purple: #7c72ff;
  --ultraviolet-glow: #978def;

  --duration: 1s;




/*-------------------RGB IDK if necessary------------------------*/
  --periwinkle-rgb: 172, 186, 213;

  --ultraviolet-glow-rgb: 25, 0, 248;

  --dark-magenta-rgb: 163, 0, 82;

  --dark-teal-rgb: 81, 157, 168;

  --indigogo-rgb: 111, 119, 157;

  --midnight-rgb: 52, 45, 71;

  --greyrocking-rgb: 184, 185, 187;

  --light-magenta-rgb: 253, 141, 198;

  --bs-border-color-translucent: var(--productive-purple);
}
.btn-secondary{
  --bs-btn-bg: #494987 !important;
  --bs-btn-hover-bg: #393774 !important;
}
.hoverers:hover{
  filter: drop-shadow(0 0 0.75rem var(--custom-teal));
  transform-origin: center;
  transform: scale(108%);
}

.form-control:focus {
  border-color: var(--gh-green);
  box-shadow: 0 0 0 .25rem rgba(45, 164, 78, 0.25);
}

