<div id="profile-button" class="hoverers" xmlns="http://www.w3.org/1999/html">
  <app-profile-button />
</div>
<div id="info-button" class="hoverers">
  <app-info-button />
</div>
<div id="home-button">
  <app-home-button />
</div>
<div id="circuit-animation-div-home">
  <app-circuit-animation />
</div>


<!--CLASSES BLOCKS-->
<div id="classes-table" class="d-none">
  <table id="class-table" class="table-borderless">
    <thead>
      <tr class="visible-row">
        @if(this.returnedClasses[0]){
        <td><div id="c1" class="class-blocker" (click)="selectClass(this.returnedClasses[0])">{{this.returnedClasses[0]}}</div></td>
        <td class="no-vis-col"></td>
        @if(this.returnedClasses[1]){
        <td><div id="c2" class="class-blocker" (click)="selectClass(this.returnedClasses[1])">{{this.returnedClasses[1]}}</div></td>
        <td class="no-vis-col"></td>
        @if(this.returnedClasses[2]){
        <td><div id="c3" class="class-blocker" (click)="selectClass(this.returnedClasses[2])">{{this.returnedClasses[2]}}</div></td>}}}
        @else{
          <td>No Classes Yet</td>
        }
      </tr>
      <tr class="background-row">
        <td class="no-vis-col"></td>
        <td class="no-vis-col"></td>
        <td class="no-vis-col"></td>
        <td class="no-vis-col"></td>
        <td class="no-vis-col"></td>
      </tr>
      <tr class="visible-row">
        @if(this.returnedClasses[3]){
        <td><div id="c4" class="class-blocker" (click)="selectClass(this.returnedClasses[3])">{{this.returnedClasses[3]}}</div></td>
        <td class="no-vis-col"></td>
        @if(this.returnedClasses[4]){
        <td><div id="c5" class="class-blocker" (click)="selectClass(this.returnedClasses[4])">{{this.returnedClasses[4]}}</div></td>
        <td class="no-vis-col"></td>
          @if(this.returnedClasses[5]){
        <td><div id="c6" class="class-blocker" (click)="selectClass(this.returnedClasses[5])">{{this.returnedClasses[5]}}</div></td>}}}
      </tr>
    </thead>
  </table>
</div>


<!--Loading Icon-->
<div id="loading-boxer">
  <app-loading-icon />
</div>
