<div id="profile-button" class="hoverers" xmlns="http://www.w3.org/1999/html">
  <app-profile-button />
</div>
<div id="info-button" (click)="showToast()" class="hoverers">
  <app-info-button />
</div>
<div id="class-title">{{className}}</div>

<div id="toast-try">
  <div class="position-fixed bottom-0 start-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img ngSrc="/info.png" class="rounded me-2" alt="..." width="25" height="25">
        <strong class="me-auto">Info</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <div>Click on a class block to select it.</div>
        <div>Don't see your class? <br /><ul><li><em>Click the refresh button to manually update the rendered classes.</em></li></ul></div>
        <hr />

        <button class="btn btn-secondary link-for-more" routerLink="/profile">More info</button>
      </div>
    </div>
  </div>

</div>
<div id="home-button">
  <app-home-button />
</div>
<div id="circuit-animation-div-home">
  <app-circuit-animation />
</div>
<div id="refresh-data-button" routerLink="/classes" class="hoverers">
  <app-manual-poll-button (click)="manualPoll()"/>
</div>

<!--CLASSES BLOCKS-->
<div id="classes-table" class="d-none">
  <table id="class-table" class="table-borderless">
    <thead>
      @for (i of rALength; track $index) {
        @if(!this.returnedClasses[i])
        {
          <tr class="visible-row">

            <td><div style="opacity: 0;" [classList]="['c' + (i%12+1) + ' class-blocker']">{{this.returnedClasses[i]}}</div></td>
            <td class="no-vis-col"></td>
            <td><div style="opacity: 0;" [classList]="['c' + (i%12+2) + ' class-blocker']">{{this.returnedClasses[i + 1]}}</div></td>
            <td class="no-vis-col"></td>
            <td><div style="opacity: 0;" [classList]="['c' + (i%12+3) + ' class-blocker']">{{this.returnedClasses[i + 2]}}</div></td></tr>
        }
        @else if(this.returnedClasses[i] && !this.returnedClasses[i + 1]){
          <tr class="visible-row">

            <td><div [classList]="['c' + (i%12+1) + ' class-blocker']" (click)="selectClass(this.returnedClasses[i])">{{this.returnedClasses[i]}}</div></td>
            <td class="no-vis-col"></td>
            <td><div style="opacity: 0;" [classList]="['c' + (i%12+2) + ' class-blocker']">{{this.returnedClasses[i + 1]}}</div></td>
            <td class="no-vis-col"></td>
            <td><div style="opacity: 0;" [classList]="['c' + (i%12+3) + ' class-blocker']">{{this.returnedClasses[i + 2]}}</div></td></tr>
        }
        @else if(this.returnedClasses[i + 1] && !this.returnedClasses[i + 2]){
          <tr class="visible-row">

            <td><div [classList]="['c' + (i%12 + 1) + ' class-blocker']" (click)="selectClass(this.returnedClasses[i])">{{this.returnedClasses[i]}}</div></td>
            <td class="no-vis-col"></td>
            <td><div [classList]="['c' + (i%12+2) + ' class-blocker']" (click)="selectClass(this.returnedClasses[i + 1])">{{this.returnedClasses[i + 1]}}</div></td>
            <td class="no-vis-col"></td>
            <td><div style="opacity: 0;" [classList]="['c' + (i%12+3) + ' class-blocker']">{{this.returnedClasses[i + 2]}}</div></td></tr>
        }
        @else{
          <tr class="visible-row">

            <td><div [classList]="['c' + (i%12 + 1) + ' class-blocker']" (click)="selectClass(this.returnedClasses[i])">{{this.returnedClasses[i]}}</div></td>
            <td class="no-vis-col"></td>
            <td><div [classList]="['c' + (i%12+2) + ' class-blocker']" (click)="selectClass(this.returnedClasses[i + 1])">{{this.returnedClasses[i + 1]}}</div></td>
            <td class="no-vis-col"></td>
            <td><div [classList]="['c' + (i%12+3) + ' class-blocker']" (click)="selectClass(this.returnedClasses[i + 2])">{{this.returnedClasses[i + 2]}}</div></td></tr>
        }

        <tr class="background-row">
          <td class="no-vis-col"></td>
          <td class="no-vis-col"></td>
          <td class="no-vis-col"></td>
          <td class="no-vis-col"></td>
          <td class="no-vis-col"></td>
        </tr>}




    </thead>


  </table>
</div>


<!--Loading Icon-->
<div id="loading-boxer">
  <app-loading-icon />
</div>
