#info-button{
  position: absolute;
  top: 20px;
  left: 90px;
  z-index: 5;
}
#profile-button{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 5;
}

#home-button{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5;
  transform-origin: top right;
  transform: scale(200%);
  filter: drop-shadow(0 0 0.75rem var(--light-green));
}
#circuit-animation-div-home{
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: center;
  transform: scale(25%) rotate(90deg);
  filter: saturate(150%) blur(100%);
}
#classes-table{
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 7;
  width: calc(100vw - 40px);
  height: calc(100vh - 360px);
  padding: 0 0;

}

#class-table{
  margin: auto auto;
  width: calc(100vw - 40px);
  height: calc(100vh - 360px);
}
td{
  text-align: center;
}
.no-vis-col{
  background-color: var(--background);
  width: 40px;
  height: 40px;
}
.class-blocker{
  width: max(calc((100vw - 120px) / 3), calc((100vh - 320px - 40px) / 2));
  height: min(calc((100vw - 120px) / 3), calc((100vh - 320px - 40px) / 2));
  border: 5px solid var(--indigogo);
  border-radius: 20px !important;
  margin: auto auto;
}
.c1 {
  border-color: #2da44f;
}
.c1:hover{
  filter: drop-shadow(0 0 1rem #2da44f);
  border: 10px solid #2da44f;
  transform: scale(102%);
}
.c2{
  border-color: #00a086;
}
.c2:hover{
  filter: drop-shadow(0 0 1rem #00a086);
  border: 10px solid #00a086;
  transform: scale(102%);
}
.c3{
  border-color: #0099ab;
}
.c3:hover{
  filter: drop-shadow(0 0 1rem #0099ab);
  border: 10px solid #0099ab;
  transform: scale(102%);
}
.c4{
  border-color: #00A56A;
}
.c4:hover{
  filter: drop-shadow(0 0 1rem #00A56A);
  border: 10px solid #00A56A;
  transform: scale(102%);
}
.c5{
  border-color: #009c9b;
}
.c5:hover{
  filter: drop-shadow(0 0 1rem #009c9b);
  border: 10px solid #009c9b;
  transform: scale(102%);
}
.c6{
  border-color: #0097b9;
}
.c6:hover{
  filter: drop-shadow(0 0 1rem #0097b9);
  border: 10px solid #0097b9;
  transform: scale(102%);
}

#loading-boxer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
