#info-button-assignment{
  position: absolute;
  top: 20px;
  left: 90px;
  z-index: 5;
}

#profile-button-assignment{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 5;
}
#home-button-assignment{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5;
}
#back-button-assignment{
  position: absolute;
  top: 20px;
  right: 90px;
  z-index: 5;
}
