
#profile-button-prof{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 5;
  transform-origin: top left;
  transform: scale(200%);
  filter: drop-shadow(0 0 0.75rem var(--gh-green));

}
#home-button-prof{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5;
}
#circuit-animation-div-home{
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
  transform: scale(25%);
  filter: saturate(150%) blur(100%);

}
#back-button-prof{
  position: absolute;
  top: 20px;
  right: 90px;
  z-index: 5;
}
#profile-info-div{
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  margin-top: 194px;
  height: 800px;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}
.flex-attempt{
  height: 200px;
  flex-wrap: wrap;

  /*
  border: 2px solid #0099ab;
  */
}
#how-to-div{
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}
#how-title{
  margin-left: 20px;
  margin-bottom: 0;
  padding: 0 0 0 0;
  font-variant: small-caps;
}
#credit-title{
  font-variant: small-caps;
  margin-bottom: 33px;
}
.creds{
  margin-left: 70px;
}
