#footer-border {
  opacity: 50%;
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#footer-content {
  border-top: 6px solid var(--gh-green);
  opacity: 1;
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  filter: drop-shadow(0 0 0.5rem var(--custom-teal));
  font-variant: all-small-caps;
  font-family: monospace;
}

#copywrite {
  position: absolute;
  right: 5px;
  bottom: 0;
}

#app-name {
  position: absolute;
  left: 5px;
  bottom: 0;
}

img{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

#hide-border-footer{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background);
  z-index: 4;
}
