<h4 class="mb-3 mt-2">Enter your GitHub Username:</h4>
<div class="mb-3 w-100">
<div class="form-floating d-inline-block w-75">
  <input type="text" class="form-control" id="floatingInput" placeholder="<FirstInitial><LastName>00">
  <label for="floatingInput">Username</label>
</div>
<button class="d-inline-block btn btn-primary" type="submit"><h1><span id="chev-1"><strong>⟩</strong></span><span id="chev-2"><strong>⟩</strong></span><span id="chev-3"><strong>⟩</strong></span></h1></button>
</div>
