
#profile-button-prof{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 5;
  transform-origin: top left;
  transform: scale(200%);
}
#home-button-prof{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5;
}
#circuit-animation-div-home{
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
  transform: scale(30%);
}
