<div id="profile-button" class="hoverers">
  <app-profile-button />
</div>
<div id="info-button" class="hoverers">
  <app-info-button />
</div>
<div id="home-button">
  <app-home-button />
</div>
<div id="circuit-animation-div-home">
  <app-circuit-animation />
</div>


<!--CLASSES BLOCKS-->
<div id="classes-table">
  <table id="class-table" class="table-borderless">
    <thead>
      <tr class="visible-row">
        <td class="class-blocker">Class 1</td>
        <td class="no-vis-col"></td>
        <td class="class-blocker">Class 2</td>
        <td class="no-vis-col"></td>
        <td class="class-blocker">Class 3</td>
      </tr>
      <tr class="background-row">
        <td class="no-vis-col"></td>
        <td class="no-vis-col"></td>
        <td class="no-vis-col"></td>
        <td class="no-vis-col"></td>
        <td class="no-vis-col"></td>
      </tr>
      <tr class="visible-row">
        <td class="class-blocker">Class 4</td>
        <td class="no-vis-col"></td>
        <td class="class-blocker">Class 5</td>
        <td class="no-vis-col"></td>
        <td class="class-blocker">Class 6</td>
      </tr>
    </thead>
  </table>
</div>
<div id="class-1" class="classes-blocks"></div>
