#info-button{
  position: absolute;
  top: 20px;
  left: 90px;
  z-index: 5;
}

#profile-button{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 5;
}
#home-button{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5;
  transform-origin: top right;
  transform: scale(200%);
}
#circuit-animation-div-home{
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: center;
  transform: rotate(90deg) scale(30%);
}
