#info-button-assignment{
  position: absolute;
  top: 20px;
  left: 90px;
  z-index: 5;
}

#profile-button-assignment{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 5;
}
#home-button-assignment{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5;
}
#back-button-assignment{
  position: absolute;
  top: 20px;
  right: 90px;
  z-index: 5;
}

#assignments-table{
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 7;
  width: calc(100vw - 40px);
  height: calc(100vh - 360px);
  padding: 0 0;

}

#ass-table{
  margin: auto auto;
  width: calc(100vw - 40px);
  height: calc(100vh - 360px);
}
td{
  text-align: center;
}
.no-vis-col{
  background-color: var(--background);
  width: 40px;
  height: 40px;
}
.ass-blocker{
  width: max(calc((100vw - 120px) / 3), calc((100vh - 320px - 40px) / 2));
  height: min(calc((100vw - 120px) / 3), calc((100vh - 320px - 40px) / 2));
  border: 5px solid var(--indigogo);
  border-radius: 20px !important;
  margin: auto auto;
}
.a1 {
  border-color: #0099ab;
}
.a1:hover{
  filter: drop-shadow(0 0 1rem #0099ab);
  border: 10px solid #0099ab;
  transform-origin: center;
  transform: scale(102%);
}
.a2{
  border-color: #0095c8;
}
.a2:hover{
  filter: drop-shadow(0 0 1rem #0095c8);
  border: 10px solid #0095c8;
  transform: scale(102%);

}
.a3{
  border-color: #0b82ff;
}
.a3:hover{
  filter: drop-shadow(0 0 1rem #0b82ff);
  border: 10px solid #0b82ff;
  transform: scale(102%);

}
.a4{
  border-color: #0097b9;
}
.a4:hover{
  filter: drop-shadow(0 0 1rem #0097b9);
  border: 10px solid #0097b9;
  transform: scale(102%);

}
.a5{
  border-color: #0090e0;
}
.a5:hover{
  filter: drop-shadow(0 0 1rem #0090e0);
  border: 10px solid #0090e0;
  transform: scale(102%);

}
.a6{
  border-color: #7a70ff;
}
.a6:hover{
  filter: drop-shadow(0 0 1rem #7a70ff);
  border: 10px solid #7a70ff;
  transform: scale(102%);

}
#loading-boxer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
