#info-button-assignment{
  position: absolute;
  top: 20px;
  left: 90px;
  z-index: 5;
}

#profile-button-assignment{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 5;
}
#home-button-assignment{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5;
}
#back-button-assignment{
  position: absolute;
  top: 20px;
  right: 90px;
  z-index: 5;
}

#assignments-table{
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 7;
  width: calc(100vw - 40px);
  height: calc(100vh - 360px);
  padding: 0 0;

}

#ass-table{
  margin: auto auto;
  width: calc(100vw - 40px);
  height: calc(100vh - 360px);
}
td{
  text-align: center;
}
.no-vis-col{
  background-color: var(--background);
  width: 40px;
  height: 40px;
}
.ass-blocker{
  width: max(calc((100vw - 120px) / 3), calc((100vh - 320px - 40px) / 2));
  height: min(calc((100vw - 120px) / 3), calc((100vh - 320px - 40px) / 2));
  border: 5px solid var(--indigogo);
  border-radius: 20px !important;
  margin: auto auto;
}
.a1 {
  border-color: var(--custom-teal);
}
.a1:hover{
  filter: drop-shadow(0 0 1rem var(--custom-teal));
  border: 10px solid var(--custom-teal);
  transform-origin: center;
  transform: scale(102%);
}
.a2{
  border-color: var(--custom-darker-teal);
}
.a2:hover{
  filter: drop-shadow(0 0 1rem var(--custom-darker-teal));
  border: 10px solid var(--custom-darker-teal);
  transform: scale(102%);

}
.a3{
  border-color: var(--custom-blue);
}
.a3:hover{
  filter: drop-shadow(0 0 1rem var(--custom-blue));
  border: 10px solid var(--custom-blue);
  transform: scale(102%);

}
.a4{
  border-color: var(--custom-teal-2);
}
.a4:hover{
  filter: drop-shadow(0 0 1rem var(--custom-teal-2));
  border: 10px solid var(--custom-teal-2);
  transform: scale(102%);

}
.a5{
  border-color: var(--custom-blue-2);
}
.a5:hover{
  filter: drop-shadow(0 0 1rem var(--custom-blue-2));
  border: 10px solid var(--custom-blue-2);
  transform: scale(102%);

}
.a6{
  border-color: var(--aptly-named-periwinkle);
}
.a6:hover{
  filter: drop-shadow(0 0 1rem var(--aptly-named-periwinkle));
  border: 10px solid var(--aptly-named-periwinkle);
  transform: scale(102%);

}
#loading-boxer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
