<div id="profile-button-assignment" class="hoverers">
  <app-profile-button />
</div>
<div id="info-button-assignment" class="hoverers">
  <app-info-button />
</div>
<div id="home-button-assignment" class="hoverers">
  <app-home-button />
</div>
<div id="back-button-assignment" routerLink="/classes" class="hoverers">
  <app-back-button />
</div>
<div id="assignments-table" class="d-none">
  <table id="ass-table" class="table-borderless">
    <thead>
      @for (i of rALength; track $index) {
      @if(!this.returnedAssignments[i])
      {
        <tr class="visible-row">

        <td><div style="opacity: 0;" [classList]="['a' + (i%12+1) + ' ass-blocker']">{{this.returnedAssignments[i]}}</div></td>
        <td class="no-vis-col"></td>
        <td><div style="opacity: 0;" [classList]="['a' + (i%12+2) + ' ass-blocker']">{{this.returnedAssignments[i + 1]}}</div></td>
        <td class="no-vis-col"></td>
        <td><div style="opacity: 0;" [classList]="['a' + (i%12+3) + ' ass-blocker']">{{this.returnedAssignments[i + 2]}}</div></td></tr>
      }
      @else if(this.returnedAssignments[i] && !this.returnedAssignments[i + 1]){
        <tr class="visible-row">

        <td><div [classList]="['a' + (i%12+1) + ' ass-blocker']" (click)="selectAssignment(this.returnedAssignments[i])">{{this.returnedAssignments[i]}}</div></td>
        <td class="no-vis-col"></td>
        <td><div style="opacity: 0;" [classList]="['a' + (i%12+2) + ' ass-blocker']">{{this.returnedAssignments[i + 1]}}</div></td>
        <td class="no-vis-col"></td>
        <td><div style="opacity: 0;" [classList]="['a' + (i%12+3) + ' ass-blocker']">{{this.returnedAssignments[i + 2]}}</div></td></tr>
      }
      @else if(this.returnedAssignments[i + 1] && !this.returnedAssignments[i + 2]){
        <tr class="visible-row">

        <td><div [classList]="['a' + (i%12 + 1) + ' ass-blocker']" (click)="selectAssignment(this.returnedAssignments[i])">{{this.returnedAssignments[i]}}</div></td>
        <td class="no-vis-col"></td>
        <td><div [classList]="['a' + (i%12+2) + ' ass-blocker']" (click)="selectAssignment(this.returnedAssignments[i + 1])">{{this.returnedAssignments[i + 1]}}</div></td>
        <td class="no-vis-col"></td>
        <td><div style="opacity: 0;" [classList]="['a' + (i%12+3) + ' ass-blocker']">{{this.returnedAssignments[i + 2]}}</div></td></tr>
      }
      @else{
        <tr class="visible-row">

        <td><div [classList]="['a' + (i%12 + 1) + ' ass-blocker']" (click)="selectAssignment(this.returnedAssignments[i])">{{this.returnedAssignments[i]}}</div></td>
        <td class="no-vis-col"></td>
        <td><div [classList]="['a' + (i%12+2) + ' ass-blocker']" (click)="selectAssignment(this.returnedAssignments[i + 1])">{{this.returnedAssignments[i + 1]}}</div></td>
        <td class="no-vis-col"></td>
        <td><div [classList]="['a' + (i%12+3) + ' ass-blocker']" (click)="selectAssignment(this.returnedAssignments[i + 2])">{{this.returnedAssignments[i + 2]}}</div></td></tr>
      }

    <tr class="background-row">
      <td class="no-vis-col"></td>
      <td class="no-vis-col"></td>
      <td class="no-vis-col"></td>
      <td class="no-vis-col"></td>
      <td class="no-vis-col"></td>
    </tr>}




    </thead>
  </table>
</div>


<!--Loading Icon-->
<div id="loading-boxer">
  <app-loading-icon />
</div>
